/*Imported styling*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*** 1. General styling***/
html { 
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing:inherit;
}

body{
    min-height:100vh;
    font-size:2vmin;
}

h1{
    font-size:calc(25px + 2vmin);
}

h3{
    font-size:calc(3px + 2vmin)
}

input, select{
    color:white;
    background-color:black;
    border-radius:1rem;
    text-align:center;
    padding:0.2rem;
}

.button{
    text-decoration:none;
    color:white;
    text-align: center;
    padding:0.5em;
    border-radius:calc(1em);
    margin:1em;
    cursor:pointer;
}

.primaryButton{
    background-color:black;
}

.primaryButton:hover{
    color:#308BE8;
}

.secondaryButton{
    text-decoration:none;
    background-color:gray;
}

.secondaryButton:hover{
    color:black;
}

.genericLink{
    text-decoration:none;
    color:white;
    font-size: calc(15px + 2vmin);
}
.genericLink:hover{
    color:#308BE8;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin:0;
}

.flexRow{
    display:flex;
    flex-direction:row;
}

.flexColumn{
    display:flex;
    flex-direction:column;
}

/**** HEADER ****/

.header{
    flex: 0 0 250px;
    background-color:red;
    width:100%;
    flex-wrap: wrap;
    padding-top: 1em;
    justify-content:space-around;
    align-items:center;
}

.pageTitle{
    flex:0 0;
    text-align:center;
    font-size:calc(15px + 2vmin);
    margin:0;
    background-color:#FF0000;
    padding:1em;
    vertical-align:middle;
}

.siteNav{
    align-self:flex-end;
    width:100%;
    background-color:black;
    color:white;
    align-items:center;
    justify-content: space-around;
    margin-top:1em;
}


/**** MAIN CONTENT ****/
main{
    padding: 2em;
}

.mainContent{
    margin:0;
    min-height:60vmin;
    border: 1px solid black;
}

.mainContent h3{
    text-align:center;
}

.filterBox{
    flex:0 1;
    align-items:center;
    background-color:#FF0000;
    width:100%;
    padding-bottom:2em;
}

.filterBox_stats{
    background:rgb(165, 165, 165);
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
}

.userChoiceBox{
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

label{
    width:100%;
    text-align:center;
    margin-bottom:0.3em;
}
.mapContainer{
    flex-wrap:nowrap;
    position:relative;
}

#map{
    width: 75vw;
    min-height:60vmin;
    position:relative;
    cursor:pointer;
}

.chartNav{  
    align-items: center;
}

.stats{
    width: 25vw;
    background-color: rgb(165, 165, 165);
    align-items: center;
    padding:0 1em 1em 1em;
    justify-content: space-around;
    min-height:60vmin;
}

#area{
    font-weight:bold; 
    text-align:center
}

#myChart{
    display:none;
    width:100%;
    background-color: white;
    position:relative;
    max-height:300px;
}

#detailsReport{
    width:100%;
    background:white;
    display:none;
    min-height:300px;
    padding:0.2em;
    text-align:center;
    font-size:2vmin;
}

#errorMessage{
    display:block;
    background-color: white;
    min-height:300px;
    width:100%;
}

table{
    text-align:center;
}

td, th{
    text-align: left;
}

tr{
    border:1px solid black;
}
/**** FOOTER ****/

.footer{
    flex: 1 1 300px;
    background-color:red;
    width:100%;
    justify-content: center;
    align-items: center;
}

/* https://image-charts.com/chart?chbr=10&chco=27c9c2&chd=a%3A50000%2C60000%2C70000&chdl=Yearlyrate&chdlp=r&chs=700x450&cht=bvs&chtt=Annual%20Salary&chxl=0%3A%7CLow%7CMed%7CHigh%7C&chxs=1N*cUSD0sz*%2C000000%2C14&chxt=x%2Cy&chl=50K%7C60K%7C70K&choe=UTF-8 */
